.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:25px 80px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
background:rgba(255,255,255,.7);
backdrop-filter:blur(10px);
}

.logo{
font-size:28px;
font-weight:700;
}

.nav-links{
display:flex;
gap:40px;
}

.nav-links a{
text-decoration:none;
color:black;
font-weight:500;
}

.section{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
}

.hero-title{
font-size:clamp(3rem,8vw,7rem);
font-weight:800;
line-height:1.1;
}

.hero-desc{
margin-top:20px;
font-size:1.2rem;
opacity:.8;
}

.lifehub-title{
font-size:7rem;
font-weight:900;
}

.tagline{
font-size:2rem;
}

.final-section{
background:linear-gradient(
180deg,
#CFFAFE,
#7DD3FC
);
}

.enter-btn{
margin-top:40px;
padding:18px 40px;
border:none;
border-radius:999px;
font-size:18px;
font-weight:600;
cursor:pointer;
background:white;
transition:.3s;
}

.enter-btn:hover{
transform:translateY(-5px);
}